In [112]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt

all_tweets = pd.read_csv('data/russian_bot_tweets.csv')
pd.set_option('display.float_format', lambda x: '%.f' % x)
pd.options.display.max_rows = 100

In [69]:
all_tweets.head(3)

,user_id,user_key,created_at,created_str,retweet_count,retweeted,favorite_count,text,tweet_id,source,hashtags,expanded_urls,posted,mentions,retweeted_status_id,in_reply_to_status_id
0,1868981054,ryanmaxwell_1,1458671502000,2016-03-22 18:31:42,nan,NaN,nan,#IslamKills Are you trying to say that there w...,712346027861405696,NaN,"[""IslamKills""]",[],POSTED,[],nan,nan
1,2571870453,detroitdailynew,1476133020000,2016-10-10 20:57:00,0,False,0,"Clinton: Trump should’ve apologized more, atta...",785584942356967424,"<a href=""http://twitterfeed.com"" rel=""nofollow...",[],"[""http://detne.ws/2e172jF""]",POSTED,[],nan,nan
2,1710804738,cookncooks,1487767423000,2017-02-22 12:43:43,nan,NaN,nan,RT @ltapoll: Who was/is the best president of ...,834383165359788032,NaN,[],[],POSTED,[],nan,nan

## Null / NaN values for each column

In [81]:
all_tweets.apply(lambda x: sum(x.isnull()), axis=0)

user_id                    8065
user_key                      0
created_at                   21
created_str                  21
retweet_count            145399
retweeted                145399
favorite_count           145399
text                         21
tweet_id                   2314
source                   145398
hashtags                      0
expanded_urls                 0
posted                        0
mentions                      0
retweeted_status_id      163831
in_reply_to_status_id    202923
dtype: int64

In [106]:
all_tweets['created_str'] = pd.to_datetime(all_tweets['created_str'])
post_date = all_tweets['created_str']

# Duration of tweets captured by date
post_date.max() - post_date.min()

Timedelta('1169 days 15:00:37')

In [110]:
# More analysis of time/frequency
post_date.dt.weekday_name.head()

post_date.dt.hour.head()

0   18
1   20
2   12
3   15
4    2
Name: created_str, dtype: float64

In [123]:
post_date.head()

0   2016-03-22 18:31:42
1   2016-10-10 20:57:00
2   2017-02-22 12:43:43
3   2016-12-26 15:06:41
4   2017-08-06 02:36:24
Name: created_str, dtype: datetime64[ns]